@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
.App {
  text-align: center;
  font-family: 'Montserrat';
}

.set_nav{
  background-color:  rgba(245, 245, 245);
}

.set_nav a {
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
}

.set_top_margin{
  margin-top: 3rem;
  background-color: rgba(245, 245, 245, 0.795);
  padding: 5rem;
}

.set_top_margin h1{
color: black;
}

.set_top_margin button {
  background-color: rgb(54, 40, 255)
}

.set_top_margin button :hover{
  background-color: rgba(245, 245, 245, 0.795)
}